*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

a {
  text-decoration: none;
}

nav {
  background-color: #fff;
  height: 3rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
  margin: 0 auto;
  max-width: 1024px;
}

.nav-container h4 {
  color: #6366f1;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  line-height: 1.25;
  transition: all 200ms ease-in-out;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links a {
  color: #374151;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-right: 1rem;
  transition: all 200ms ease-in-out;
}

.nav-links a:hover {
  color: #6366f1;
}

main {
  min-height: calc(100vh - 3rem);
  display: grid;
  place-items: center;
}

.container {
  text-align: center;
}

.container h1 {
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  color: #fff;
  background-color: #222;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-bottom: 2.5rem;
}

.color {
  color: #6366f1;
}

.btn {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background: transparent;
  color: #222;
  padding: 0.75rem 1.25rem;
  outline: none;
  border: 2px solid #222;
  border-radius: 0.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 300ms linear;
}

.btn:hover {
  color: #fff;
  background-color: #222;
}
